footer{
    padding:3rem 2rem 0rem 2rem;
    background-color: black;
    .logo{
        img{
            background-size: cover;
            width: 7rem;
    padding:0rem 0rem 2rem 0rem;

        }
    }
}