

html{
    font-size: 100%;
    box-sizing: border-box;
}

*,*::before,*::after{
    box-sizing: inherit;
}
a{
    text-decoration: none;
}

body{
    margin: 0;
    padding: 0;
}
.flex {
    display: flex;

    &-jc-c{
        justify-content: center;
    }
    &-jc-sb{
        justify-content:space-between;
    }
    &-ai-c{
        align-items:center;
    }
}
.downArrowBtn{
    width:100%;
    display:flex;
    justify-content:center;
    background-color: transparent;
    position:relative;
    z-index:3;
    border:0;
    padding:3rem 0rem 3rem 0rem;
    // margin:0rem 0rem 0rem 8.5rem;
    img{
height:2.5rem;
    }
}
.hide-in-mob{
    @include breakpoint-down(medium){
      display: none;
    }
}
.hide-in-desk {
    @include breakpoint-up(large){
        display: none;
      }
}
.show-from-desk {
    @include breakpoint-down(medium){
        display: none;
      }
}
